Repository timohermans/budget: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-app.yml

azure-pipelines-api.yml:
  pool:
    vmImage: windows-latest
    name: Default
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      restoreArguments: --locked-mode
      feedsToUse: select
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      projects: $(project)
  ...

azure-pipelines-app.yml:
  pool:
    vmImage: windows-latest
    name: Default
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      feedsToUse: select
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      projects: $(project)
  ...

Test trigger
  Budget.Api/Dockerfile
Due: azure-pipelines-api.yml

Correct api azure devops file
  azure-pipelines-api.yml
Due: azure-pipelines-api.yml

Yaml indenting
  azure-pipelines-api.yml
Due: azure-pipelines-api.yml

Yaml indenting #2
  azure-pipelines-api.yml
Due: azure-pipelines-api.yml

Set up CI with Azure Pipelines
  azure-pipelines-api2.yml
Due: none

Delete non-permitted pipeline
  Budget.sln
  azure-pipelines-api.yml
Due: azure-pipelines-api.yml

Add api pipeline to solution
  Budget.sln
  azure-pipelines-api2.yml
Due: none

Update azure-pipelines-api2.yml for Azure Pipelines
  azure-pipelines-api2.yml
Due: none

Remove old devops pipeline
  Budget.sln
  azure-pipelines.yml
Due: none

feat: Automatically add versioning to project
  Budget.App/Budget.App.csproj
  Budget.App/Components/Pages/Transactions/TransactionOverview.razor
  Budget.App/GitVersion.yml
  azure-pipelines-app.yml
Due: azure-pipelines-app.yml

chore(release): 1.0.1-ci0075
  Budget.App/CHANGELOG.md
Due: azure-pipelines-app.yml

fix: Automatically add changelog to versioning in pipeline
  Budget.App/Budget.App.csproj
  Budget.App/GitVersion.yml
  azure-pipelines-app.yml
Due: azure-pipelines-app.yml

chore(release): 1.0.1
  Budget.App/CHANGELOG.md
Due: azure-pipelines-app.yml

fix: CI pipeline runs again
  azure-pipelines-app.yml
Due: azure-pipelines-app.yml

Update azure-pipelines-app.yml for Azure Pipelines
  azure-pipelines-app.yml
Due: azure-pipelines-app.yml

fix: forced version bump
  Budget.App/Budget.App.csproj
Due: azure-pipelines-app.yml

chore(release): 1.0.3 [skip ci]
  Budget.App/Budget.App.csproj
  Budget.App/CHANGELOG.md
Due: azure-pipelines-app.yml

Make it possible to directly inject features in Blazor project
  Budget.Api/StartupExtensions.cs
  Budget.Core/UseCases/Transactions/FileEtl/FileEtlUseCase.cs
  Budget.Core/UseCases/Transactions/MarkAsCashback/MarkAsCashbackUseCase.cs
  Budget.Core/UseCases/Transactions/Overview/OverviewUseCase.cs
Due: azure-pipelines-api.yml

Upload transactions right from the home page
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/Components/Pages/BudgetOverview.razor
  Budget.Htmx/Components/Shared/MainLayout.razor
  Budget.Htmx/Components/Shared/UploadTransactions.razor
  Budget.Htmx/Components/Shared/UploadTransactionsButton.razor
  Budget.Htmx/Endpoints/Budget/GetBudgetOverviewEndpoint.cs
  Budget.Htmx/Endpoints/Transactions/UploadTransactionsEndpoint.cs
  Budget.Htmx/Program.cs
Due: none

Mark as cashback via HTMX
  Budget.Htmx/Components/Shared/MainLayout.razor
  Budget.Htmx/Components/Shared/TransactionCashbackForm.razor
  Budget.Htmx/Components/Shared/TransactionRow.razor
  Budget.Htmx/Components/Shared/TransactionRowOptions.razor
  Budget.Htmx/Endpoints/Transactions/GetCashbackFormEndpoint.cs
  Budget.Htmx/Endpoints/Transactions/GetTransactionEndpoint.cs
  Budget.Htmx/Endpoints/Transactions/PatchTransactionCashbackDateEndpoint.cs
  Budget.Htmx/wwwroot/app.css
Due: none

Make loading spinner look better
  Budget.Htmx/Components/Shared/TransactionCashbackForm.razor
  Budget.Htmx/wwwroot/app.css
Due: none

BREAKING CHANGE:Budget now uses more traditional web technologies
  Budget.Htmx/Config/LogUsernameMiddleware.cs
  Budget.Htmx/Program.cs
  azure-pipelines-app.yml
Due: azure-pipelines-app.yml

chore(release): 1.0.4 [skip ci]
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/CHANGELOG.md
Due: none

BREAKING CHANGE: Change web technology used for UI
  azure-pipelines-app.yml
Due: azure-pipelines-app.yml

chore(release): 1.0.5 [skip ci]
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/CHANGELOG.md
Due: none

Add serilog sinq
  Budget.Htmx/Budget.Htmx.csproj
Due: none

chore(release): 1.0.6 [skip ci]
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/CHANGELOG.md
Due: none

Try to make Htmx production work
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/Endpoints/Budget/GetBudgetOverviewEndpoint.cs
  Budget.Htmx/Program.cs
Due: none

chore(release): 1.0.7 [skip ci]
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/CHANGELOG.md
Due: none

Temp add developer error logging
  Budget.Htmx/Program.cs
Due: none

chore(release): 1.0.8 [skip ci]
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/CHANGELOG.md
Due: none

Path conditions:
  azure-pipelines-api.yml: any of: Budget.Api, Budget.ApiClient, azure-pipelines-api.yml
  azure-pipelines-app.yml: any of: Budget.App, azure-pipelines-app.yml
