Repository timohermans/budget: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-api2.yml, azure-pipelines-app.yml

azure-pipelines-api.yml:

trigger:
  branches:
   include:
     - main
  paths:
   include:
     - Budget.Api/*
     - Budget.ApiClient/*
     - azure-pipelines-api.yml

pool:
  vmImage: 'windows-latest'
  name: Default

variables:
  solution: '**/*.sln'
  project: 'Budget.Api'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  artifactPath: '$(System.DefaultWorkingDirectory)/drop'

steps:
- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: 'restore'
    restoreArguments: '--locked-mode'
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: '$(project)'
    arguments: '--no-restore -c $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Publish'
  inputs:
    command: 'publish'
    publishWebProjects: true
    arguments: '--no-restore --no-build -o $(artifactPath)'
    modifyOutputPath: false

- publish: '$(artifactPath)'
  artifact: WebApi

azure-pipelines-api2.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - Budget.Api/*
      - Budget.ApiClient/*
      - azure-pipelines-api2.yml

pool:
  vmImage: 'windows-latest'
  name: Default

variables:
  solution: '**/*.sln'
  project: 'Budget.Api'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  artifactPath: '$(System.DefaultWorkingDirectory)/drop'

steps:
- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: 'restore'
    projects: '$(project)'
    restoreArguments: '--locked-mode'
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: '$(project)'
    arguments: '--no-restore -c $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Publish'
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: '$(project)'
    arguments: '--no-restore --no-build -o $(artifactPath)'
    modifyOutputPath: false

- publish: '$(artifactPath)'
  artifact: WebApi

azure-pipelines-app.yml:

trigger:
  branches:
   include:
     - main
  paths:
   include:
     - Budget.Htmx/*
     - azure-pipelines-app.yml

pool:
  vmImage: 'windows-latest'
  name: Default

variables:
  solution: '**/*.sln'
  project: 'Budget.Htmx'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  artifactPath: '$(System.DefaultWorkingDirectory)/drop'
  branchName: $[replace(variables['Build.SourceBranch'], 'refs/heads/', '')]

steps:
- checkout: self
  persistCredentials: true
  clean: true

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.x'

- script: dotnet tool install --global Versionize && git config --global user.name "$(git_name)" && git config --global user.email "$(git_email)"
  displayName: 'Install Versionize'

- script: git checkout $(branchName) && git reset origin/$(branchName) --hard && cd $(project) && versionize --commit-suffix "[skip ci]" && git push --follow-tags origin $(branchName)
  displayName: 'Bump project version'
  
- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: 'restore'
    restoreArguments: '--locked-mode'
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: '$(project)'
    arguments: '--no-restore -c $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Publish'
  inputs:
    command: 'publish'
    publishWebProjects: true
    arguments: '--no-restore --no-build -o $(artifactPath)'
    modifyOutputPath: false

- publish: '$(artifactPath)'
  artifact: WebApp

fix!: Make sure at least one logging is registered to fix deployment
  Budget.Htmx/Program.cs
  Budget.Htmx/appsettings.json
Due: azure-pipelines-app.yml

chore(release): 2.0.0 [skip ci]
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/CHANGELOG.md
Due: azure-pipelines-app.yml

Add a script to migrate from sql server to postgresql (without migrations though :( )
  Budget.BlazorTests/Budget.BlazorTests.csproj
  Budget.BlazorTests/DatabaseMigration/MsSqlToPostgresActions.cs
  Budget.BlazorTests/packages.lock.json
  Budget.Core/Budget.Core.csproj
  Budget.Core/DataAccess/BudgetPgContext.cs
  Budget.Core/packages.lock.json
Due: none

Remove most of the API stuff from CI/CD (hopefully)
  Budget.sln
  azure-pipelines-api2.yml
  docker-compose.yml
Due: azure-pipelines-api2.yml

Add postgres db migrations
  Budget.BlazorTests/DatabaseMigration/MsSqlToPostgresActions.cs
  Budget.BlazorTests/packages.lock.json
  Budget.Core/DataAccess/BudgetContext.cs
  Budget.Core/DataAccess/BudgetPgContext.cs
  Budget.Core/Migrations/20240405142436_CreateTransaction.Designer.cs
  Budget.Core/Migrations/20240405142436_CreateTransaction.cs
  Budget.Core/Migrations/20240618181844_CreateTransaction.Designer.cs
  Budget.Core/Migrations/20240618181844_CreateTransaction.cs
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/StartupExtensions.cs
  Budget.Htmx/appsettings.json
Due: azure-pipelines-app.yml

chore(release): 2.0.1 [skip ci]
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/CHANGELOG.md
Due: azure-pipelines-app.yml

Add dockerfile for htmx app
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/Dockerfile
Due: azure-pipelines-app.yml

Make sure app works via docker, behind proxy, again
  Budget.Htmx/StartupExtensions.cs
Due: azure-pipelines-app.yml

Fix github actions CI and rename BlazorTests to IntegrationTests
  .github/workflows/dotnet.yml
  Budget.Core/Budget.Core.csproj
  Budget.Core/packages.lock.json
  Budget.Htmx/Budget.Htmx.csproj
  Budget.IntegrationTests/Budget.IntegrationTests.csproj
  Budget.IntegrationTests/Data/transactions-1.csv
  Budget.IntegrationTests/GlobalUsings.cs
  Budget.IntegrationTests/Infrastructure/AppHelper.cs
  Budget.IntegrationTests/Infrastructure/Authenticator.cs
  Budget.IntegrationTests/Infrastructure/BlazorTest.cs
  Budget.IntegrationTests/Infrastructure/BlazorWithTraceTest.cs
  Budget.IntegrationTests/Infrastructure/DatabaseHelper.cs
  Budget.IntegrationTests/Infrastructure/TestConfiguration.cs
  Budget.IntegrationTests/Properties/launchSettings.json
  Budget.IntegrationTests/Tests/TransactionFileUploadTests.cs
  Budget.IntegrationTests/Tests/TransactionMarkAsCashbackTests.cs
  Budget.IntegrationTests/Tests/TransactionOverviewTests.cs
  Budget.IntegrationTests/appsettings.json
  Budget.IntegrationTests/packages.lock.json
  Budget.Tests/Budget.Tests.csproj
  Budget.sln
Due: azure-pipelines-app.yml

fix: Make github actions ci/cd work again
  .github/workflows/dotnet.yml
Due: none

Chore: Move versionize to beginning of ci and disable integration test
  .github/workflows/dotnet.yml
Due: none

try make versionize work
  .github/workflows/dotnet.yml
Due: none

chore(release): 2.0.1 [skip ci]
  Budget.Htmx/CHANGELOG.md
Due: azure-pipelines-app.yml

chore(release): 2.0.2 [skip ci]
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/CHANGELOG.md
Due: azure-pipelines-app.yml

fix: Make CI work with versionize
  .github/workflows/dotnet.yml
Due: none

chore(release): 2.0.3 [skip ci]
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/CHANGELOG.md
Due: azure-pipelines-app.yml

Fix: always deploy the latest version, not the one before latest
  .github/workflows/dotnet.yml
Due: none

chore(release): 2.0.4 [skip ci]
  Budget.Htmx/Budget.Htmx.csproj
  Budget.Htmx/CHANGELOG.md
Due: azure-pipelines-app.yml

Add docker support for blazor app
  .github/workflows/dotnet.yml
  Budget.App/Budget.App.csproj
  Budget.App/Budget.App.csproj.user
  Budget.App/Dockerfile
  Budget.App/Properties/launchSettings.json
  Budget.IntegrationTests/packages.lock.json
Due: none

Bump version to 3.0.0
  Budget.App/Budget.App.csproj
Due: none

chore(release): 3.0.0 [skip ci]
  Budget.App/CHANGELOG.md
Due: none
